<!-- <p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand mr-3" href="#">
        <img src="/assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
      </a>
      <li class="nav-item dropdown">
          <div ngbDropdown>
            <button class="btn btn-primary" id="dropdownAdmin" ngbDropdownToggle>Admin</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAdmin">
                <button class="dropdown-item" routerLink="admin/dashboard">dashboard</button>
                <button class="dropdown-item" routerLink="admin/download">download</button>
                <button class="dropdown-item" routerLink="admin/monthbill">monthbill</button>
            </div>
          </div>
        </li>
      <li class="nav-item dropdown">
        <div ngbDropdown>
          <button class="btn btn-primary" id="dropdownSummary" ngbDropdownToggle>Statistic</button>
          <div ngbDropdownMenu aria-labelledby="dropdownSummary">
              <button class="dropdown-item" routerLink="statistic/summary">summary</button>
              <button class="dropdown-item" routerLink="statistic/rate">rate</button>
              <button class="dropdown-item" routerLink="statistic/amount">amount</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="btn-group mr-5" ngbDropdown role="group" placement="bottom-right" aria-label="Button group with nested dropdown">
      <img src="/assets/images/mine.png" height="30" ngbDropdownToggle/>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="logout()">logout</button>
      </div>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>